/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.home-header {
  color: white;
}

.fade-enter-active {
  transition: .5s;
  height: 68px;
}
.fade-enter {
   height: 380px;
}
.slide-enter-active {
  transition: 2s;
  max-height: 1280px;
}
.slide-enter {
  max-height: 65px;
}
.parallax-container {
  height: 400px;
}
.blog {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
code {
  font-size: .9em;
}
@media only screen and (min-width: 601px) {
  .blog {
    width: 80%;
  }
}
@media only screen and (min-width: 993px) {
  .blog {
    width: 60%;
  }
}

/* Decrease font maximum font size of flow text.
 * */
@media only screen and (min-width: 540px){
  .flow-text {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 750px) {
  .flow-text {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 780px) {
  .flow-text {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 810px) {
  .flow-text {
    font-size: 1.344rem;
  }
}
@media only screen and (min-width: 840px) {
  .flow-text {
    font-size: 1.344rem;
  }
}
@media only screen and (min-width: 870px) {
  .flow-text {
    font-size: 1.344rem;
  }
}
@media only screen and (min-width: 900px) {
  .flow-text {
    font-size: 1.344rem;
  }
}
@media only screen and (min-width: 930px) {
  .flow-text {
    font-size: 1.344rem;
  }
}
@media only screen and (min-width: 960px) {
  .flow-text {
    font-size: 1.344rem;
  }
}

/*Multi-column MaterializeCSS card flow*/
/*By @MichaelLNorth*/
.cards-container {
    column-break-inside: avoid;
}
.cards-container .card {
    display: inline-block;
    overflow: visible;
}

@media only screen and (max-width: 600px) {
    .cards-container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 601px) {
    .cards-container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 993px) {
    .cards-container {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
.outer-space {
  background-color: #232741 !important;
}
#index-banner {
  position: relative;
}
#index-banner .container {
  position: absolute;
  width: 100%;
  max-width: none;
}
.motto {
  margin-right: 0px !important;
}
canvas {
  height: 380px !important;
}

/*Typed.js*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
footer {
    border-top: 1px solid #e2e2e2;
    padding-bottom: 10px;
    color: #545454;
}
footer a {
    color: #545454;
}
[v-cloak] { display:none; }
h3 {
    font-weight: 300;
}
.action-link {
    font-weight: 500;
}

/*PreloaderCss*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/preloader/loader.gif) center no-repeat #fff;
}
