/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.home-header {
  color: white;
}

.fade-enter-active {
  transition: .5s;
  height: 68px;
}
.fade-enter {
   height: 380px;
}
.slide-enter-active {
  transition: 2s;
  max-height: 1280px;
}
.slide-enter {
  max-height: 65px;
}
.parallax-container {
  height: 400px;
}
.blog {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .blog {
    width: 80%;
  }
}
@media only screen and (min-width: 993px) {
  .blog {
    width: 60%;
  }
}
