---
layout: default
title: Zorex Rivera Salvo
full_name: Zorex Salvo
position: Web Developer
github_url: zorexsalvo
linkedin_url: zorex-salvo-67b486119
email_address: zorexsalvo@gmail.com
motto: Make it run, make it right, make it fast.
---
<transition name="slide">
<div class="section no-pad-bot outer-space" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center thin home-header">{{ page.full_name }}</h1>
    <h6 class="header col s12 light home-header thin center">{{ page.position }}</h6>
    <div class="row center motto">
      <h5 class="header col s12 light home-header thin"><span class="typing"></span></h5>
    </div>
    <div class="row center motto">
      <a class="btn-floating red"
         href="{{ site.baseurl }}/blogs">
        <i class="material-icons">chrome_reader_mode</i>
      </a>
      <a class="btn-floating yellow darken-2"
         href="https://github.com/{{ page.github_url }}">
        <i class="fa fa-github"></i>
      </a>
      <a class="btn-floating light-blue darken-4"
         href="https://www.linkedin.com/in/{{ page.linkedin_url }}"
         target="_top">
        <i class="fa fa-linkedin"></i>
      </a>
      <a class="btn-floating blue"
         href="mailto:{{ page.email_address }}">
        <i class="material-icons">email</i>
      </a>
    </div>
    <br><br>
  </div>
</div>
</transition>

<br>
<div class="container">
    <div class="row">
    <div class="col s12">
      <h3 class="thin">Recent Posts</h3>
    </div>

    <div class="col s12 m6">
        {% assign top_post = site.posts | where: 'top', 'true' %}
        {% for post in top_post %}
        <div class="card">
          <div class="card-image">
            <img src="{{ post.image_path }}">
          </div>
          <div class="card-content">
            <span class="card-title">{{ post.title }}</span>
            <p>{{ post.short_description }}</p>
          </div>
          <div class="card-action">
            <a href="{{ site.baseurl }}{{ post.url }}">Read More..</a>
          </div>
        </div>
        {% endfor %}
    </div>
    <div class="col s12 m6">
      {% assign published = site.posts | where: 'published', 'true' %}
      {% for post in published limit:3 %}
      <div class="card horizontal">
        <div class="card-image">
          <img src="{{ post.image_path }}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h6 class="light">{{ post.date | date: "%B %d, %Y" }}</h6>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="right">
        <a href="{{ site.baseurl }}/blogs" class="waves-effect waves-light btn indigo accent-2">VIEW MORE</a>
      </div>
    </div>
  </div>
</div>
<script src="{{ site.baseurl }}/js/typed.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    Typed.new('.typing', {
      strings: ['"{{ page.motto }}"'],
      typeSpeed: 0
    });
  });
</script>
