---
layout: default
title: Zorex Salvo
full_name: Zorex Salvo
position: Web Developer
github_url: zorexsalvo
linkedin_url: zorex-salvo-67b486119
email_address: zorexsalvo@gmail.com
fb_username: zorexsalvo
twitter_username: zorexsalvo
motto: Make it run, make it right, make it fast.
---
<transition name="slide">
<div class="section no-pad-bot outer-space z-depth-1" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center thin home-header">{{ page.full_name }}</h1>
    <h6 class="header col s12 light home-header thin center">{{ page.position }}</h6>
    <div class="row center motto">
      <h5 class="header col s12 light home-header thin"><span class="typing"></span></h5>
    </div>
    <div class="row center motto">
      <a class="btn-floating red"
         href="{{ site.baseurl }}/posts">
        <i class="material-icons">chrome_reader_mode</i>
      </a>
      <a class="btn-floating yellow darken-2"
         href="https://github.com/{{ page.github_url }}">
        <i class="fa fa-github"></i>
      </a>
      <a class="btn-floating light-blue darken-4"
         href="https://www.linkedin.com/in/{{ page.linkedin_url }}"
         target="_top">
        <i class="fa fa-linkedin"></i>
      </a>
      <a class="btn-floating blue"
         href="mailto:{{ page.email_address }}">
        <i class="material-icons">email</i>
      </a> </div>
    <br><br>
  </div>
</div>
</transition>

<br>
<div class="container">
    <div class="row">
    <div class="col s12">
      <h3 class="thin">Recent Posts</h3>
    </div>

    <div class="col s12 m6">
        {% assign top_post = site.posts | where: 'top', 'true' %}
        {% for post in top_post %}
        <div class="card">
          <div class="card-image">
            <img src="{{ post.image_path }}">
          </div>
          <div class="card-content">
            <span class="card-title">{{ post.title }}</span>
            <p>{{ post.short_description }}</p>
          </div>
          <div class="card-action">
            <a class="action-link blue-text" href="{{ site.baseurl }}{{ post.url }}">Read More</a>
          </div>
        </div>
        {% endfor %}
    </div>
    <div class="col s12 m6">
      {% assign published = site.posts | where: 'published', 'true' %}
      {% for post in published limit:3 %}
      <div class="card horizontal">
        <div class="card-image">
          <img src="{{ post.image_path }}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h6 class="light">{{ post.date | date: "%B %-d, %Y" }}</h6>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="right">
        <a href="{{ site.baseurl }}/posts" class="waves-effect waves-light btn indigo accent-2">VIEW ALL</a>
      </div>
    </div>
  </div>
  <div class="thin-border"></div>
  <br>
  <div class="row">
    <div class="col s12">
      <h3 class="thin">What I'm Doing..</h3>
    </div>

    <div class="col s12 m7">
      <div class="slider">
        <ul class="slides">
          {% for image in site.static_files %}
            {% if image.path contains 'images' %}
              <li>
                <img src="{{ site.baseurl }}{{ image.path }}"> <!-- random image -->
                <!--<div class="caption center-align">-->
                  <!--<h3>This is our big Tagline!</h3>-->
                  <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
                <!--</div>-->
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col s12 m5">
      <p class="caption">
      I code in Python/Django/Flask and lately I've been doing javascript also.
      I'm not a design-guy so I'm usually assigned to do backend stuffs.
      </p>
      <p class="caption">
      I'm constantly learning and experimenting about the new technologies that's
      why I'm always attending tech conferences, hackathons, and codecamps.
      </p>
      <p class="caption">
      I do blogs too. I write about tech, hackathon, experiences, events,
      anything random that comes to mind.
      </p>
    </div>
  </div>


  {% include footer.html %}

</div>
