<br><br>
<footer class="center">
  <br>
  z o r e x <strong>s a l v o</strong> |
  <a href="https://github.com/{{ site.github_url }}">
    <i class="fa fa-github-square"></i>
  </a>
  <a href="https://www.linkedin.com/in/{{ site.linkedin_url }}">
    <i class="fa fa-linkedin"></i>
  </a>
  <a href="https://www.facebook.com/{{ site.fb_username }}">
    <i class="fa fa-facebook"></i>
  </a>
  <a href="https://twitter.com/{{ site.twitter_username }}">
    <i class="fa fa-twitter"></i>
  </a>
  <br><br><br>
</footer>
