<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ page.title }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ site.baseurl }}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <div id="app">
  {{ content }}
  </div> 

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ site.baseurl }}/js/materialize.js"></script>
  <script src="{{ site.baseurl }}/js/init.js"></script>
  <script src="{{ site.baseurl }}/js/vue.js"></script>
  <script src="{{ site.baseurl }}/js/app.js"></script>
  <script>
    $(document).ready(function(){
        $('.parallax').parallax();
    });
  </script>
  </body>
</html>
