<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="google-site-verification" content="bCa0kmXWzaJ_SZ2v9w65WIjUldudqRwaMKqHY4YfZaU" />
  <title>{{ page.title }}</title>

  <!-- CSS  -->
  <link href="{{ site.baseurl }}/z.png" rel="icon"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ site.baseurl }}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
</head>
<body>
  <div id="app" v-cloak>
  {{ content }}
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ site.baseurl }}/js/materialize.min.js"></script>
  <script src="{{ site.baseurl }}/js/init.js"></script>
  <script src="{{ site.baseurl }}/js/vue.min.js"></script>
  <script src="{{ site.baseurl }}/js/app.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script>
    particlesJS.load('index-banner', '{{ site.baseurl }}/assets/particles.json', function() {
      console.log('callback - particles.js config loaded');
    });
  </script>
  <script src="{{ site.baseurl }}/js/typed.min.js"></script>
  <script>
    $(document).ready(function(){
      Typed.new('.typing', {
        strings: ['"{{ site.catchphrase }}"'],
        typeSpeed: 0
      });
    });
  </script>
  </body>
</html>
