---
layout: default
---
<div class="section no-pad-bot indigo darken-1" id="index-banner">
  <div class="container">
    <br>
    <br>
    <h3 class="header center thin home-header">{{ page.title }}</h3>
    <h6 class="header col s12 light home-header thin center">{{ page.date | date: "%B %d, %Y" }}</h6>
    <br>
    <div class="row center motto" style="position: relative;">
      <a class="btn-floating red"
         href="{{ site.baseurl }}/">
        <i class="material-icons">view_module</i>
      </a>
    </div>
    <br>
  </div>
</div>
<div class="container blog flow-text">
  {{ content }}

  {% if page.discussion %}
  <div class="row center">
    <div class="col s12">
      <a class="waves-effect waves-light btn center" href="{{ page.discussion }}">View Discussion</a>
    </div>
  </div>
  {% endif %}
</div>

<div class="container">
  {% include footer.html %}
</div>
<br>
<br>
