---
layout: default
---
<div class="section no-pad-bot indigo darken-1" id="index-banner">
  <div class="container">
    <h3 class="header center thin home-header">{{ page.title }}</h3>
    <h6 class="header col s12 light home-header thin center">{{ page.date | date: "%B %d, %Y" }}</h6>
    <br>
    <div class="row center" style="position: relative;">
      <a class="btn-floating red tooltipped"
         data-position="bottom"
         data-delay="50"
         data-tooltip="Blogs"
         @click="toggleBlog"
         href="{{ site.baseurl }}/">
        <i class="material-icons">view_module</i>
      </a>
    </div>
    <br>
  </div>
</div>
<div class="container blog flow-text">
  {{ content }}
</div>
<br>
<br>
