---
layout: default
---
<div class="section no-pad-bot green darken-4" id="index-banner">
  <div class="container">
    <h3 class="header center thin home-header">{{ page.title }}</h3>
    <h6 class="header col s12 light home-header thin center">{{ page.date | date: "%B %d, %Y" }}</h6>
    <br>
    <div class="row center" style="position: relative;">
      <a class="btn-floating red tooltipped"
         data-position="left"
         data-delay="50"
         data-tooltip="Blog"
         @click="toggleBlog"
         href="#blog">
        <i class="material-icons">chrome_reader_mode</i>
      </a>
      <a class="btn-floating yellow darken-2 tooltipped"
         data-position="top"
         data-delay="50"
         data-tooltip="GitHub"
         href="https://github.com/{{ page.github_url }}">
        <i class="fa fa-github"></i>
      </a>
      <a class="btn-floating light-blue darken-4 tooltipped"
         data-position="bottom" data-delay="50"
                                data-tooltip="Linkedn"
                                href="https://www.linkedin.com/in/{{ page.linkedin_url }}"
                                target="_top">
        <i class="fa fa-linkedin"></i>
      </a>
      <a class="btn-floating blue tooltipped"
         data-position="right"
         data-delay="50"
         data-tooltip="Mail"
         href="mailto:{{ page.email_address }}">
        <i class="material-icons">email</i>
      </a>
    </div>
    <br>
  </div>
</div>
<div class="container blog flow-text">
  {{ content }}
</div>

